/* main */

@use "./base/reset";
@use "./pages/home";

.header__title {
    font-style: italic;
    font-size: 5rem;
}

.header__desc {
    font-size: 140%;
    font-weight: 500;
    font-style: italic;
    font-variation-settings: "WONK" 1, "opsz" 144;
}